/*
	* @directory Sr-Rafael.github.io/Style
	* @file layout.css
	* @brief Define as grades de exibição, para estilização da página
	* @author Rafael Neves (Hiperion)
	* @date 22/07/2026
	* @version 1.0.0
	* @defgroup Interface
*/

@import url(base.css);

/* Configura o esquema de grades (grid) */
body {
    /* [INFO]: Define o uso de sistema de grades para ajustar o layout */
    display: grid;
    /* [INFO]: Define o tamanho da primeira coluna para a largura do que tiver nela e a outra o restante do espaço (no caso, são duas colunas) */
    grid-template-columns: max-content 1fr;
    /* [INFO]: Define o body para ocupar a altura total, independete da quantidade de texto */
    min-height: 100vh;
}

/* =================================================== */
/* ====== Estiliza o contêiner da barra lateral ====== */
/* =================================================== */
nav {
    /* [INFO]: Define a cor de fundo da barra lateral */
    background-color: var(--cor-superficie);
    /* [INFO:] Define o espaçamento interno */
    padding: 1rem;
    /* [INFO]: Define o arredondamento das bordas */
    border-radius: 20px;

    /* [INFO]: Alinhamento vertical */
    display: flex;
    /* Define a direção do 'flex' */
    flex-direction: column;
    /* Da um espaço dinâmico entre os elementos */
    gap: 1rem;
    /* Justifica verticalmente os elementos */
    justify-content: center;
    /* Justifica horizontalmente os elementos */
    align-items: center;
    /* Alinha a coluna aos elementos */
    align-self: center;
    /* Adiciona uma borda */
    margin: 0 2 rem 0 1rem;
}
